@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

@import url("https://p.typekit.net/p.css?s=1&k=lue6wew&ht=tk&f=25163&a=14350217&app=typekit&e=css");

@font-face {
    font-family: "fatfrank";
    src: url("https://use.typekit.net/af/2aa411/00000000000000007735a612/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/2aa411/00000000000000007735a612/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/2aa411/00000000000000007735a612/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    overflow-x: hidden;
}

body {
    font-family: 'Questrial', sans-serif;
    font-size: 22px;
}

body p {
    color: #676767;
}


/* .custom-site-width {
    max-width: 1024px;
} */

@media (min-width:1399px) and (max-width:1536px) {
    .container {
        max-width: 1024px;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1024px;
    }
}

@media (min-width: 1536px) {
    .container {
        max-width: 1024px;
    }
}

@-webkit-keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.header {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    color: white;
}

h2,
h3 {
    font-size: 2.8rem;
}

h1 {
    font-size: 3.4rem;
    /* line-height: 62px; */
    font-weight: 600;
    -webkit-text-fill-color: inherit;
}

h1.splash,
h2.splash-h2 {
    font-family: fatfrank, sans-serif;
    font-size: 100%;
    font-weight: 400;
    color: #FFFFFF;
    text-transform: uppercase;
    line-height: 1.2;
}

h1 .your,
h1 .local {
    font-size: 9vw;
}

h1 .local {
    text-decoration-line: underline;
    text-decoration-color: #fcd832;
}

h1 .las-vegas {
    font-size: 10vw;
}

h1 .seo-experts {
    font-size: 8.2vw;
    text-decoration-line: underline;
    text-decoration-color: #fcd832;
}

h2 .we-help-you {
    font-size: 7.8vw;
}

h2 .rank-no-1 {
    font-size: 9.5vw
}

@media screen and (min-width:530px) {

    h1 .your,
    h1 .local {
        font-size: calc(5.2vw + 6 * ((100vw - 320px) / 680));
    }

    h1 .las-vegas {
        font-size: calc(6vw + 6 * ((100vw - 320px) / 680));
    }

    h1 .seo-experts {
        font-size: calc(4.8vw + 6 * ((100vw - 320px) / 680));
    }

    h2 .we-help-you {
        font-size: calc(4.6vw + 6 * ((100vw - 320px) / 680));
    }

    h2 .rank-no-1 {
        font-size: calc(5.8vw + 6 * ((100vw - 320px) / 680));
    }
}

@media screen and (min-width:768px) {

    h1 .your,
    h1 .local {
        font-size: calc(4.0vw + 2 * ((100vw - 320px) / 680));
    }

    h1 .las-vegas {
        font-size: calc(4.6vw + 2 * ((100vw - 320px) / 680));
    }

    h1 .seo-experts {
        font-size: calc(3.7vw + 2 * ((100vw - 320px) / 680));
    }

    h2 .we-help-you {
        font-size: calc(3.5vw + 2 * ((100vw - 320px) / 680));
    }

    h2 .rank-no-1 {
        font-size: calc(4.3vw + 2 * ((100vw - 320px) / 680));
    }
}

@media screen and (min-width:1025px) {

    h1 .your,
    h1 .local {
        font-size: calc(3.0vw + 2 * ((100vw - 320px) / 680));
    }

    h1 .las-vegas {
        font-size: calc(3.5vw + 2 * ((100vw - 320px) / 680));
    }

    h1 .seo-experts {
        font-size: calc(2.8vw + 2 * ((100vw - 320px) / 680));
    }

    h2 .we-help-you {
        font-size: calc(2.65vw + 2 * ((100vw - 320px) / 680));
    }

    h2 .rank-no-1 {
        font-size: calc(3.25vw + 2 * ((100vw - 320px) / 680));
    }
}

.header_intro_txt {
    padding-top: 100px;
}

.header_content {
    max-width: 90%;
}

@media (min-width:992px) {
    .header_content {
        max-width: 768px;
    }
}

@media (min-width:1368px) {
    .header_content {
        max-width: 1140px;
    }
}

@media (min-width:2500px) {
    .header_content {
        max-width: 80%;
    }
}

.scroll_style {
    transition: all ease-out .3s;
}

.scroll_style .logo_wrapper {
    padding: 8px 0;
    transition: all ease-out .3s;
}

.scroll_style_after .logo_wrapper {
    flex-basis: 4.4rem;
}

@media (max-width:768px) {
    .logo_wrapper .sitelogo {
        display: block;
        max-width: 64px;
    }
}

.toggle_icon:after {
    content: "";
    display: table;
    clear: both;
}

.menu_wrapper .toggle_icon {
    height: 64px;
    float: none;
    justify-content: flex-end;
    align-items: center;
}

@media screen and (max-width:768px) {
    .menu_wrapper {
        position: fixed;
        top: 0;
        left: 0;
        background: #1e293bf2;
        width: 100%;
        height: 100%;
        transition: all ease-out .3s;
        will-change: transform
    }
}

.scroll_style_after {
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #1e293b;
    z-index: 9999;
    overflow: visible;
}

.scroll_style .menu_item a {
    transition: all ease-out .3s;
}

@media screen and (max-width:767px) {
    .scroll_style .menu_item a {
        position: relative;
        display: block;
        margin-bottom: 10px;
    }

    .scroll_style .menu_item a:after {
        content: '';
        position: absolute;
        width: 20px;
        height: 1px;
        background: #c32129;
        display: block;
        left: 22px;
    }
}

.scroll_style_after .menu_item a {
    font-size: 21px;
}


.intro_warning_text {
    font-size: 45px;
    line-height: 55px;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

@media screen and (max-width:767px) {
    .intro_warning_text {
        font-size: 28px;
        line-height: 32px;
        margin-top: 2.5rem;
    }
}

.company_logos>div {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:767px) {
    .company_logos>div {
        flex-wrap: wrap;
        flex: 1;
        margin-bottom: 0 !important;
        padding: 15px !important;
    }
}

.company_logos>div>span {
    flex: 0 0 1;
    min-width: 136px;
    margin: 0 20px !important;
}

.company_logos>div span img {
    max-height: 46px;
    max-width: 100%;
}

.hm-h-sz {
    font-size: 45px;
}

.hm-h-sz.hm-h-lh {
    line-height: 74px;
}

@media screen and (max-width:767px) {
    .hm-h-sz.hm-h-lh {
        line-height: 38px;
    }

    .hm-h-sz {
        font-size: 28px;
    }
}

.p-line-height-lg {
    line-height: 40px;
}

.home-content p.margin-custom {
    margin-top: 30px;
}

.post_title {
    font-size: 1.5rem;
    line-height: 2rem;
}